# Optional port overrides for docker-compose.yml
MAP_FRONTEND_PORT=5174
MAP_BFF_PORT=18080
MAP_ALGO_PORT=10000
MAP_ALGO_PLATFORM=linux/amd64
MAP_OBS_FRONTEND_PORT=15152
MAP_OBS_BACKEND_PORT=15151
MAP_POSTGRES_PORT=15432
MAP_MONGO_PORT=27017
